body {
  background-color: #0DB498;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  zoom: 1;
}

.hero-unit {
  background-color: #536A66;
  margin-bottom: 30px;
  padding: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.hero-unit h1 {
  color: white;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit p {
  color: white;
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}


.what {
  background-color: white;
  margin-bottom: 30px;
  padding: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero2-unit h1 {
  margin-bottom: 0;
  font-size: 90px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero2-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}